
<div class="bottom_section">
    <div class="ligne-fine"></div>
    <h3 class="title_partenaire_index">Nos partenaires </h3>
    <div class="partenaire_section">
        <img src="{{divers ~ "hup_ales.png"}}" class="logo_partenaire">
        <img src="{{divers ~ "logo_Alter-incub.jpeg"}}" class="logo_partenaire">
        <img src="{{divers ~ "logo_occitanie.jpeg"}}" class="logo_partenaire">
        <img src="{{divers ~ "logo_cerema.jpeg"}}" class="logo_partenaire">
        <img src="{{divers ~ "myriapolis.png"}}" class="logo_partenaire">
    </div> 
</div>
<footer class="footer">
    <div class="footer_section_1">
        <h4>A propos de nous</h4>
        <img src="{{logo_site ~ "OMAH-Logo.png"}}" class="footer_logo" alt="Logo de l'association OMAH Lab">
        <p>Politique de confidentialité </p>
        <p>© 2024 OMAHLAB. All Rights Reserved. Designed By MESSINE </p>
    </div>
</footer>
